# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/
public/

# Cache
.cache/
.npm/
.vscode/
.DS_Store

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
node_repl_history

# Testing
coverage/

# Production
*.env.*

# Editor directories and files
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace

# Dependency directories
frontend/node_modules/
backend/node_modules/

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
